.container {
    background-color: black;
    height: 570px;
    width: 380px;
    margin: auto;
    padding: 50px;
    margin-top: 30px;
    margin-right: 25%;
    border-radius: 20px;
    border: none;
}

.brand {
    color: white;
    text-align: center;
    padding-bottom: 25px;
    margin-top: 5px;
}

.sub-head {
    color: white;
    text-align: center;
}

#display {
    height: 80px;
    width: 370px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 45px;
    border: none;
    text-align: right;
}

.btn {
    height: 60px;
    width: 60px;
    background-color: gray;
    margin-top: 20px;
    margin: 0px 13px;
    margin-bottom: 25px;
    font-size: 40px;
    border-radius: 10%;
    border: none;
    box-shadow: 0px 5px 3px rgba(77, 76, 76, 0.996);
}

.btn:active {
    box-shadow: 0px 0px 0px;
    transform: translateY(5px);
}